---
let branch = import.meta.env.CF_PAGES_BRANCH || 'local';
let commitSHA = '';
let fullCommitSHA = '';

if (branch === 'local') {
  commitSHA = 'local';
  fullCommitSHA = 'local';
} else {
  if (import.meta.env.CF_PAGES_COMMIT_SHA) {
    commitSHA = import.meta.env.CF_PAGES_COMMIT_SHA.slice(0, 7);
    fullCommitSHA = import.meta.env.CF_PAGES_COMMIT_SHA;
  } else {
    commitSHA = 'unknown';
    fullCommitSHA = 'unknown';
  }
}
---
<footer
  class="my-4 flex w-fit items-center gap-2 border-r-2 border-gruvbox-fg pr-1.5 font-azeret text-xs motion-safe:animate-blink motion-reduce:border-transparent motion-safe:dark:border-gruvboxDark-fg"
>
  <span class="text-gruvbox-aqua dark:text-gruvboxDark-aqua2">&gt;</span>
  <a href="mailto:s@naai.nz" class="hover:underline" title="Email">s@naai.nz</a> 
  <span>{branch}@<a href={`https://github.com/Naainz/naai.nz/tree/${fullCommitSHA}`} target="_blank" rel="noopener noreferrer">{commitSHA}</a></span>

</footer>
